.mv_wrapper {
  width: 100%;
  height: calc(100vh - 50px);
  padding: 2rem 0 0;
  position: relative;
  z-index: 9;
  transition: all 0.4s ease-in-out;
  .title {
    font-size: 15rem;
    font-weight: bold;
    line-height: 0.7;
    letter-spacing: -0.15rem;
    z-index: 10;
    position: relative;
    margin-top: 1rem;
    margin-left: -360px;
    transition: all 0.4s ease-in-out;
    span {
      color: var(--primary);
    }
  }
}
@media (width < 768px) {
.mv_wrapper {
  height: 500px;
  .title {
    font-size: 10rem;
    margin-top: 1rem;
    margin-left: -60px;
  }
}
}

.contents_wrapper {
  width: 100%;
  min-height: 700px;
  background: rgba(var(--background), 0.5);
  backdrop-filter: blur(3px);
  border-top: var(--outline) solid 1px;
  z-index: 9;
  position: relative;
  padding: 0 0 5rem;
  display: flex;
  flex-flow: column wrap;
  overflow-x: hidden;
  .title {
    font-size: 15rem;
    font-weight: bold;
    line-height: 0.7;
    width: 100%;
    letter-spacing: -0.15rem;
    z-index: 10;
    position: relative;
    white-space: nowrap;
    color: #bbb;
    pointer-events: none;
    margin: 0 auto 4rem;
    span {
      color: var(--primary);
    }
  }

  &:nth-of-type(even) {
    .title {
      text-align: right;

      span {
        color: #8841c3;
      }
    }
  }
}
@media (width < 768px) {
.contents_wrapper {
  .title {
    font-size: 8rem;
  }
}
}
// Works
.card_wrap {
  width: 100%;
  margin: auto;
}

